snippet skel
	// vim: set filetype=asciidoc fileencoding=utf-8:
	= ${1:`expand("%:t:r")`}
	:numbered:
	:encoding: UTF-8
	:toc: macro
	:toc-title: `"\uc4bf\uc2bc"`
	:data-uri:
	
	toc::[]
	
	${0}
