--langdef=asciidoc
--langmap=asciidoc:.adoc.asciidoc
--regex-asciidoc=/^==[ \t]+(.*)/\1/s,Section_L0/
--regex-asciidoc=/^===[ \t]+(.*)/. \1/s,Section_L1/
--regex-asciidoc=/^====[ \t]+(.*)/. . \1/s,Section_L2/
