--langdef=markdown
--langmap=markdown:.mkd.markdown
--regex-markdown=/^#[ \t]+(.*)/\1/h,Table of content/
--regex-markdown=/^##[ \t]+(.*)/. \1/h,Table of content/
--regex-markdown=/^###[ \t]+(.*)/. . \1/h,Table of content/
--regex-markdown=/^####[ \t]+(.*)/. . . \1/h,Table of content/
--regex-markdown=/^#####[ \t]+(.*)/. . . . \1/h,Table of content/
--regex-markdown=/^######[ \t]+(.*)/. . . . . \1/h,Table of content/
